@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

footer {
  position: fixed-bottom;
}

h1 {
  font-size: 96px;
}

p {
  margin: 0
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 0;
}

i {
  font-size: 32px;
}

/* class */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.presentation {
/*  display: flex;
  justify-content: space-between;*/
  position: relative;
  padding: 40px 0px;
}

.intro {
  position: absolute;
  z-index: 1;
}

.image {
  text-align: right;
}

.stack {
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 16px;
  width: fit-content;
  box-shadow: 1px 1px 4px 1px rgba(200, 200, 200, 0.8)
}

#dev-girl {
  height: 500px;
}
